<?xml version="1.0"?>

<model>
  <name>Target Model For Tracking Purposes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hasan</name>
    <email>hasanosman41303@gmail.com</email>
  </author>

  <description>
    Example of adding color to a model
  </description>

</model>
